{% extends 'base.html' %}

{% block content %}
        <div id="home-page">
    <h3 id="activite-title">Activite</h3>
    {% for elem in activites %}
        <div class="activite-encours">
            Le projet [{{ elem.0 }}] est en cours
            <div>Vous devez vous <a href="">inscrire</a></div>
            <div><a href="">Lisez le sujet</a>, faites votre rendu avant <b>DATE</b></div>
        </div>
    {% endfor %}
    <h3 id="corr-title">Corrections en cours</h3>
    {% for elem in activites %}
        <div class="corr-encours">
            Le projet [{{ elem.0 }}] est en cours
            <div>Vous devez vous <a href="">inscrire</a></div>
            <div><a href="">Lisez le sujet</a>, faites votre rendu avant <b>DATE</b></div>
        </div>
    {% endfor %}
    <h3 id="notes-title">Dernieres notes recues</h3>
    {% for elem in activites %}
        <div class="notes-encours">
            Le projet [{{ elem.0 }}] est en cours
            <div>Vous devez vous <a href="">inscrire</a></div>
            <div><a href="">Lisez le sujet</a>, faites votre rendu avant <b>DATE</b></div>
        </div>
    {% endfor %}
            <hr>
    <h3 id="news-title">News feed</h3>
    {% for elem in activites %}
        <div class="news-encours">
            Le projet [{{ elem.0 }}] est en cours
            <div>Vous devez vous <a href="">inscrire</a></div>
            <div><a href="">Lisez le sujet</a>, faites votre rendu avant <b>DATE</b></div>
        </div>
    {% endfor %}
            </div>
<hr>
{% endblock %}